<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load custom_filters %}
    {% load static %}
    <title>WeatherGuard</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'icons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'icons/site.webmanifest' %}">

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/preference.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/test.js' %}"></script>
</head>
<body class="bg-gradient-to-r from-[#00557f] to-sky-500 dark:bg-gray-950 transition-colors duration-300">

    <!-- Toggle Button -->
    <button id="togglePanel" title="View Panel" class="fixed top-2 z-40 p-3 bg-blue-500 text-white rounded-full hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 cursor-pointer">
        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
    </button>

        <!--search bar-->
    <section class="fixed w-full z-10 top-1 flex justify-center">
        <div class="relative w-full max-w-md">
            <!-- Search Icon -->
            <div class="absolute top-3 left-3 flex items-center cursor-pointer">
                <svg class="w-6 h-6 text-gray-600 hover:text-blue-700 transition duration-300 ease-in-out" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0-14 0"></path>
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6"></path>
                </svg>
            </div>
            <!-- Search Input -->
            <input
                type="text"
                aria-label="Search weather by location name"
                title="Search weather by location name"
                class="block w-full px-12 py-2.5 text-gray-900 placeholder-gray-500 bg-white/80 border border-gray-300 rounded-full shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent transition duration-300 ease-in-out cursor-auto"
                placeholder="Search location...">
        </div>
    </section>


    <!-- Header -->
    <header class="flex w-full z-10 mb-1 bg-gradient-to-r from-blue-600 to-indigo-600 justify-between items-center px-6 shadow-lg">
        <!-- Side Panel -->
        <div id="sidePanel" class="fixed top-0 left-0 h-full w-64 bg-white shadow-2xl transform -translate-x-full transition-transform duration-500 ease-in-out z-30">
            <div class="p-6">
                <h1 class="text-3xl font-bold text-indigo-700 dark:text-indigo-300">
                    <span class="inline-block animate-fade-in">WeatherGuard</span>
                </h1>
                <p class="text-gray-600 mt-2">{{ user }} personalized weather assistant</p>

                <ul class="mt-6 space-y-4">
                    <!-- Settings Button -->
                    <button id="settings-button"
                            class="relative bg-indigo-700 hover:bg-indigo-800 text-white font-bold py-3 px-6 w-full rounded-lg shadow-md flex items-center justify-center gap-2 transition-all duration-300">
                        <svg class="w-6 h-6 fill-yellow-400 transition-all duration-300 group-hover:fill-orange-500" viewBox="0 0 24 24">
                            <path d="M14.04 12c-.06-.08-.12-.16-.19-.25L15.47 12.69c.81.72 1.31 1.65 1.48 2.64l1.01-.31c-.05-.65-.15-1.29-.3-1.91zm2.35 2.13c-.6.23-1.24.41-1.91.52l-.3-1.01c.72-.81 1.65-1.31 2.63-1.48l1.01.3c.65-.05 1.29-.15 1.92-.3zm7.7-4.21c-.39-.15-.77-.33-1.17-.54l-1.77 1.77c-3.02-3.03-7.64-4.81-12.59-4.37l1.05 1.05c4.57.42 8.44 2.41 10.59 5.37zm-8.48 1.48l-2.83-2.83c-.14-.14-.33-.22-.53-.22s-.39.08-.53.22-.22.33-.22.53.08.39.22.53l2.83 2.83c.14.14.33.22.53.22s.39-.08.53-.22c.13-.14.21-.33.21-.53-.01-.2-.09-.39-.21-.53zM16.09 7.09c.63.63 1.71.63 2.34 0s.63-1.71 0-2.34-1.71-.63-2.34 0-.63 1.71 0 2.34zm-1.67 0h1.67v3.32h-3.34v-1.67c0-.46.37-.83.83-.83s.83.37.83.83v1.67h-1.67v-1.67c0-.46-.37-.83-.83-.83s-.83.37-.83.83v1.67z" />
                        </svg>
                        <span>Settings</span>
                    </button>

                    <!-- Logout Button -->
                    <a href="{% url 'logout' %}">
                        <button class="relative bg-red-600 hover:bg-red-700 text-white font-bold py-3 mt-2 px-6 w-full rounded-lg shadow-md flex items-center justify-center gap-2 transition-all duration-300">
                            <svg class="w-6 h-6 text-white transition-all duration-300" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1"></path>
                            </svg>
                            <span>Logout</span>
                        </button>
                    </a>
                    <!-- Trigger Button -->
                    <div id="openSettingsManBtn" class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded-lg gap-2 cursor-pointer">
                        Manage Locations
                    </div>
                </ul>
            </div>
        </div>
    </header>


    <div class="container mt-14 mx-auto px-4">
        <main class="flex flex-col md:flex-row gap-8 min-h-[600px] md:p-6">
            <!-- Current Weather Section -->
            <section class="flex-1 basis-[300px] space-y-6">
                <div class="h-fit bg-white/50 dark:bg-gray-800 backdrop-blur-xl rounded-2xl shadow-2xl shadow-black/10 ring-1 ring-gray-200 dark:ring-gray-700 p-3">
                <div id="current-weather" class="">
                    <h2 class="text-2xl md:text-3xl font-semibold mb-2 text-gray-900 dark:text-gray-100 opacity-90">
                        <span class="">Today In</span>
                        <sup class="ml-2">
                            <span class="text-yellow-500 text-xl">{</span>
                            {% if weather_data_dict %}
                            <span class="text-transparent bg-clip-text bg-gradient-to-tr from-blue-700 to-orange-400 text-2xl">{{ weather_data_dict.locName }}</span>
                            {% else %}
                            Your Location
                            {% endif %}
                            <span class="text-orange-500 text-xl">}</span>
                        </sup>
                    </h2>
                    {% if weather_data_dict %}
                        {% with weekly_data=weather_data_dict.weekly.daily %}
                        {% with date_today=''|today_date %}
                        {% with index=weekly_data.time|find_index:date_today %}
                            <div class="flex items-center justify-between p-2 md:p-6 transition-all hover:shadow-3xl">
                                <div class="flex flex-col space-y-1 md:space-y-1">
                                    <p class="text-3xl md:text-4xl font-bold" id="current-temperature">{{ weekly_data.temperature_2m_max|get_index:index }}°C</p>
                                    <p class="text-md md:text-lg font-medium text-gray-600 dark:text-gray-400" id="current-description">{{ weekly_data.weathercode|get_index:index|get_desc }}</p>
                                </div>
                                <img id="current-icon" class="w-16 md:w-18 h-16 md:h-18" src="{% static 'media/images/' %}{{ weekly_data.weathercode|get_index:index|get_desc|get_icon }}" alt="Weather Icon">
                            </div>
                </div>

                <div id="no-weather" class="flex flex-col items-center justify-center py-4 md:py-8 lg:py-6 px-8 opacity-90">
                <section class="space-y-4 justify-start">
                    <p>Sunrise: <span class="text-[#5500ff]">{{ weekly_data.sunrise|get_index:index|normal_time }}</span></p>
                    <p>Sunset: <span class="text-[#5500ff]">{{ weekly_data.sunset|get_index:index|normal_time }}</p>
                    <p>Precipitation: <span class="text-[#5500ff]">{{ weekly_data.precipitation_sum|get_index:index }}</span></p>
                    <p>Min-Temperature: <span class="text-[#5500ff]">{{ weekly_data.temperature_2m_min|get_index:index }}</span> <span class="text-[#ffff00] font-bold">°C</span></p>
                </section>
                    <button id="settings-button" onclick="document.getElementById('settings-modal').classList.remove('hidden');"
                            class="hidden bg-[#6366f1] text-white px-6 py-3 rounded-xl font-medium hover:bg-[#4f46e5] transition-colors shadow-lg shadow-gray-200 dark:shadow-gray-800">
                        Set Location
                    </button>
                </div>
                </div>
                {% endwith %}
                {% endwith %}
                {% endwith %}
                {% endif %}

                <!-- Hourly Forecast Section (Initially Hidden) -->
                <div id="hourlyForecast-{{ weather_data_dict.loName|slugify }}" class="flex w-full h-fit bg-sky-600/100 p-4 rounded-lg">
                {% if weather_data_dict %}
                    {% with hourly3=weather_data_dict %}
                        <!-- Daily 3 HOURS Forecast Section -->
                        <div class="bg-green-100 p-6 rounded-lg w-full shadow-md transition duration-500 ease-in-out hover:scale-105 dark:bg-slate-950">
                            <h2 class="text-xl font-bold mb-2 text-black">For 3 HRS</h2>
                            <h2 class="text-gray-600">Country: <span class="text-green-700">{{ hourly3.country|default:"Value not found" }}</h2>
                            {% with weather_desc=hourly3.icon|get_desc %}
                            <div class="flex">
                                <img src="{% static 'media/images/' %}{{ weather_desc|get_icon }}" class="w-16 h-16" alt="Weather Icon"/>
                                <p class="flex justify-center items-center text-gray-600 ml-2 break-all">Condition: <span id="cond" class="text-yellow-600 font-semibold">{{ hourly3.weather_main }}</span></p>
                            </div>
                            {% endwith %}
                            <h2 class="text-gray-600">Location: <span class="text-blue-600">{{ hourly3.locName }}</span></h2>
                            <section class="grid grid-cols-2 md:grid-cols-1 lg:grid-cols-2 gap-2 md:gap-4 overflow-hidden">
                                <p class="text-gray-600">Description: <span class="text-yellow-600 font-semibold">{{ hourly3.weather_description|toTitle|default:hourly3.weather_description }}</span></p>
                                <p class="text-gray-600">Temperature: <span class="text-red-600">{{ hourly3.temperature|floatformat:2 }}°C</span></p>
                                <p class="text-gray-600">Apparent Temperature: <span class="text-green-800">{{ hourly3.feels_like|floatformat:2 }}°C</span></p>
                                <p class="text-gray-600">Humidity: <span class="text-blue-600">{{ hourly3.humidity }}%</span></p>
                                <p class="text-gray-600">Wind Speed: <span class="text-blue-600">{{ hourly3.wind_speed }}m/s</span></p>
                                <p class="text-gray-600">Wind Direction:
                                <span class="text-green-800">{{ hourly3.wind_direction }}°</span></p>
                                <p class="text-gray-600">Pressure: <span class="text-blue-600">{{ hourly3.pressure }}hPa</span></p>
                                <p class="text-gray-600">Cloud Cover: <span class="text-blue-600">{{ hourly3.cloud_cover }}%</span></p>
                                <p class="text-gray-600">Sunrise: <span class="text-green-800">{{ hourly3.sunrise }}</span></p>
                                <p class="text-gray-600">Sunset: <span class="text-green-800">{{ hourly3.sunset }}</span></p>
                                <p class="text-gray-600">Rain Last Hour: <span class="text-blue-600">{{ hourly3.rain_last_hour }}mm</span></p>
                            </section>
                        </div>
                    {% endwith %}
                    {% endif %}
                </div>
            </section>

            <!-- Weekly Forecast Section -->
            <div class="flex-1 p-3 basis-[480px] bg-white/50 dark:bg-gray-800 backdrop-blur-xl rounded-2xl shadow-2xl shadow-black/10 ring-1 ring-gray-200 dark:ring-gray-700">
                <h2 class="text-3xl font-semibold my-3 text-center text-gray-900 dark:text-gray-100 opacity-90">
                    <span class="uppercase">7-Day Forecast</span>
                </h2>

                <!-- Weather Page Container -->
                {% if weather_data_dict %}
                    <div class="container mx-auto md:px-2 py-4 my-2 md:my-0 bg-white/0 shadow-none rounded-lg dark:bg-slate-800">
                        <div class="flex justify-between rounded-t-lg p-2 bg-white/90">
                            <p class="text-gray-600 md:text-center dark:text-gray-400">
                                <span title="(height above sea level)" arial-label="(height above sea level)">Elevation :</span>
                                <span class="text-green-800 dark:text-green-600 dark:text-green-600"><span class="font-semibold">{{ weather_data_dict.weekly.elevation }}</span> M(meters)</span>
                            </p>
                            <p class="text-gray-600 md:text-center dark:text-gray-400">
                                Timezone:
                                <span class="text-blue-800 font-bold underline dark:text-blue-500">{{ weather_data_dict.weekly.timezone }} {{ weather_data_dict.weekly.timezone_abbreviation }}</span>
                            </p>
                        </div>
                           <p class="w-full rounded-full border-2 border-dashed" style="border-image-slice: 1; border-image-source: linear-gradient(to right, #0055ff, #55ffff);"></p>
                        <section class="w-full">
                            <!-- Daily Forecast 7 Days -->
                            <div id="dailyForecast-{{ weather_data_dict.locName|slugify }}" class="grid rounded-lg bg-white/0 dark:bg-gray-700/50 rounded-xl shadow-none w-full max-w-full">
                                   {% with weekly_data=weather_data_dict.weekly.daily %}
                                       {% for day in weekly_data.time %}
                                           {% with index=forloop.counter0 %}
                                               {% with desc=weekly_data.weathercode|get_index:index|get_desc %}
                                                <section class="bg-white/90 rounded-lg mb-4 p-3">
                                                   <div class="block rounded-lg max-w-full overflow-hidden h-fit">
                                                       <!-- Sample Day Forecast -->
                                                       <div class="bg-blue-50 border-2 border-blue-400 p-6 rounded-lg shadow-lg transition duration-500 ease-in-out hover:scale-105 dark:bg-slate-900 dark:border-blue-500">
                                                            <h2 class="text-xl font-bold mb-2 text-gray-800 dark:text-gray-100">
                                                                {{ day|get_day }} - {{ day }}
                                                            </h2>
                                                            <div class="flex items-center mb-2">
                                                                <img src="{% static 'media/images/' %}{{ desc|get_icon }}" alt="Weather Icon" class="w-16 h-16"/>
                                                                <p class="whitespace-prewrap break-all text-gray-700 dark:text-gray-300 ml-3">
                                                                    Condition: <span class="text-yellow-600 font-semibold">{{ desc }}</span>
                                                                </p>
                                                            </div>
                                                            <p class="text-gray-700 dark:text-gray-300">Max Temperature: <span class="text-red-600 dark:text-red-500">{{ weekly_data.temperature_2m_max|get_index:index }}°C</span></p>
                                                            <p class="text-gray-700 dark:text-gray-300">Min Temperature: <span class="text-orange-700 dark:text-orange-500">{{ weekly_data.temperature_2m_min|get_index:index }}°C</span></p>

                                                            {% if weekly_data.humidity %}
                                                                <p class="text-gray-700 dark:text-gray-300">Humidity: <span class="text-green-800 dark:text-green-400">{{ weekly_data.humidity }} %</span></p>
                                                            {% endif %}
                                                            {% if weekly_data.wind_speed %}
                                                                <p class="text-gray-700 dark:text-gray-300">Wind Speed: <span class="text-green-800 dark:text-green-400">{{ weekly_data.wind_speed }} km/h</span></p>
                                                            {% endif %}

                                                            <p class="text-gray-700 dark:text-gray-300">Precipitation: <span class="text-green-800 dark:text-green-400">{{ weekly_data.precipitation_sum|get_index:index }} mm</span></p>
                                                            <p class="text-gray-700 dark:text-gray-300">Sunrise: <span class="text-green-800 dark:text-green-400">{{ weekly_data.sunrise|get_index:index|normal_time }}</span></p>
                                                            <p class="text-gray-700 dark:text-gray-300">Sunset: <span class="text-green-800 dark:text-green-400">{{ weekly_data.sunset|get_index:index|normal_time }}</span></p>
                                                    </div>
                                                   </div>
                                                </section>
                                               {% endwith %}
                                           {% endwith %}
                                       {% endfor %}
                                   {% endwith %}
                            </div>
                        </section>
                    <!-- Add more cards as needed -->
                </div>
                {% endif %}
            </div>
        </main>

        <!-- Settings Modal -->
        <div id="settings-modal" class="fixed inset-0 bg-black bg-opacity-30 border-none flex items-center justify-center w-full transform translate-x-full transition-transform duration-700 ease-in-out">
            <div class="relative bg-white dark:bg-gray-900 p-6 rounded-lg shadow-lg w-full max-w-lg max-h-[95vh] overflow-y-auto">
                <!-- Close Button -->
                <button id="close-settingsX" class="absolute top-2 right-2 text-cyan-800 dark:text-gray-500 hover:text-[#0b03ff] dark:hover:text-gray-400 hover:rotate-90 transition duration-300">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
                <h2 class="text-2xl font-semibold mb-4 text-gray-800 dark:text-gray-200">Settings</h2>
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                    {% csrf_token %}
                    <!-- Notification Options -->
                    <div id="notification-medium">
                        <label class="block text-sm font-medium text-gray-700 dark:text-gray-300">Notification Options</label>
                        <div class="mt-1 space-y-2">
                            <label class="flex items-center gap-2">
                                <input type="radio" id="sms-notification" value="SMS" name="notification-medium" class="form-radio h-5 w-5 text-blue-600">
                                <span class="text-sm">SMS</span>
                            </label>
                            <label class="flex items-center gap-2">
                                <input type="radio" id="email-notification" value="Email" name="notification-medium" class="form-radio h-5 w-5 text-blue-600">
                                <span class="text-sm">Email</span>
                            </label>
                        </div>
                    </div>

                    <!-- Notification Frequency -->
                    <div id="notification-frequency">
                        <label class="block text-sm font-medium text-gray-700 dark:text-gray-300">
                            Notification Frequency
                        </label>
                        <div class="flex flex-col mt-1 space-y-2">
                            <label class="flex items-center gap-2">
                                <input type="radio" id="hourly-notification" value="Hourly" name="notification-frequency" class="form-radio h-5 w-5 text-blue-600">
                                <span class="text-sm">Hourly</span>
                            </label>
                            <label class="flex items-center gap-2">
                                <input type="radio" id="daily-notification" value="Daily" name="notification-frequency" class="form-radio h-5 w-5 text-blue-600">
                                <span class="text-sm">Daily</span>
                            </label>
                            <label class="flex items-center gap-2">
                                <input type="radio" id="weekly-notification" value="Weekly" name="notification-frequency" class="form-radio h-5 w-5 text-blue-600">
                                <span class="text-sm">Weekly</span>
                            </label>
                        </div>
                    </div>

                    <!-- Verbosity -->
                    <div id="verbosity">
                        <label class="block text-sm font-medium text-gray-700 dark:text-gray-300">Verbosity</label>
                        <div class="flex flex-col mt-1 space-y-2">
                            <label class="flex items-center gap-2">
                                <input type="radio" id="low-verbosity" name="verbosity" value="Low" class="form-radio h-5 w-5 text-blue-600" checked>
                                <span class="text-sm">Low</span>
                            <label class="flex items-center gap-2">
                                <input type="radio" id="medium-verbosity" name="verbosity" value="Medium" class="form-radio h-5 w-5 text-blue-600">
                                <span class="text-sm">Medium</span>
                            </label>
                            <label class="flex items-center gap-2">
                                <input type="radio" id="high-verbosity" name="verbosity" value="High" class="form-radio h-5 w-5 text-blue-600">
                                <span class="text-sm">High</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="flex justify-center mt-6">
                    <button id="save-settings" class="bg-blue-600 text-white px-4 py-2 rounded-md hover:bg-blue-700">Save Settings</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Backdrop & Container -->
    <div
    id="modalBackdrop"
    class="fixed inset-0 bg-black bg-opacity-40 flex items-center justify-center overflow-y-auto h-full w-full transition-transform duration-700 ease-in-out transform translate-x-full"
    role="dialog"
    aria-labelledby="modal-title"
    aria-modal="true">
        <div class="relative bg-white dark:bg-gray-800 rounded-xl shadow-2xl p-6 w-full max-w-lg max-h-[90vh] overflow-y-auto">
            <!-- Modal Header -->
            <div class="flex justify-between items-center border-b border-gray-200 dark:border-gray-700 pb-3 mb-4">
            <h3 id="modal-title" class="text-2xl font-semibold text-gray-800 dark:text-gray-200">
                Manage your Location Here
            </h3>
            <button
                id="closeModalBtn"
                aria-label="Close modal"
                class="text-gray-600 hover:text-gray-800 dark:text-gray-300 dark:hover:text-gray-100">
                <svg class="w-6 h-6 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18">
                <path
                    d="M14.53 3.47a.75.75 0 0 0-1.06 0L9 7.94 4.53 3.47a.75.75 0 1 0-1.06 1.06L7.94 9l-4.47 4.47a.75.75 0 1 0 1.06 1.06L9 10.06l4.47 4.47a.75.75 0 0 0 1.06-1.06L10.06 9l4.47-4.47a.75.75 0 0 0 0-1.06z"/>
                </svg>
            </button>
            </div>

            <!-- Modal Body -->
            <div class="space-y-4">
            <h4 class="text-xl font-medium text-gray-700 dark:text-gray-300">Set Locations</h4>
            {% if user.user_locations.all %}
            <ul class="divide-y divide-gray-200 dark:divide-gray-700">
                {% for location in user.user_locations.all %}
                <li class="py-2 flex justify-between items-center">
                <span class="font-medium text-gray-800 dark:text-gray-100">{{ location.name }}</span>
                <span class="text-gray-600 dark:text-gray-400">{{ location.coordinates }}</span>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p class="text-gray-500 dark:text-gray-400">No locations available.</p>
            {% endif %}
            </div>

            <!-- Add New Location Section -->
            <div class="border-t border-gray-200 dark:border-gray-700 pt-4 mt-4">
            <label class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1">Add New Location</label>
            <div class="flex items-center gap-2">
                {% csrf_token %}
                <input
                type="text"
                id="location-input"
                value=""
                required
                class="w-full p-2 border border-gray-300 rounded-md text-sm dark:bg-gray-800 dark:border-gray-700 dark:text-gray-300"
                placeholder="Enter your city">
                <button
                id="save-location"
                class="bg-blue-600 text-white px-4 py-2 rounded-md hover:bg-blue-700 transition-colors">
                Save
                </button>
            </div>
            </div>

            <!-- Modal Footer -->
            <div class="flex justify-end mt-6">
            <button
                id="closeModalBtnFooter"
                class="px-5 py-2 bg-gradient-to-r from-blue-500 to-indigo-500 hover:from-blue-600 hover:to-indigo-600 text-white rounded-lg shadow focus:outline-none focus:ring-2 focus:ring-blue-400">
                Close
            </button>
            </div>
        </div>
    </div>

        <!-- Success Modal -->
    <div id="successModal" class="hidden fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
        <div id="successBox" class="bg-white p-6 rounded-lg shadow-lg min-w-80 max-w-[90vw] md:max-w-[70vw]">
            <h2 class="text-lg font-semibold text-green-600">Success!</h2>
            <p id="success-message" class="mt-2 text-gray-600">The operation was completed successfully.</p>
            <section class="flex justify-center">
                <button onclick="window.hideStatus('success')" class="mt-4 bg-green-600 text-white px-4 py-2 rounded hover:bg-green-700">
                    OK
                </button>
            </section>
        </div>
    </div>

    <!-- Error Modal -->
    <div id="errorModal" class="hidden fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
        <div id="errorBox" class="bg-white p-6 rounded-lg shadow-lg min-w-80 max-w-[90vw] md:max-w-[70vw]">
            <h2 class="text-lg font-semibold text-red-600">Error!</h2>
            <p id="error-message" class="mt-2 text-gray-600" id="errorMessage">Something went wrong.</p></p>
            <section class="flex justify-center">
                <button onclick="window.hideStatus('error')" class="mt-4 bg-red-600 text-white px-4 py-2 rounded hover:bg-red-700">
                    Close
                </button>
            </section>
        </div>
    </div>

    <!-- Loading Modal -->
    <div id="loadingModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
        <div id="modalMainBox" class="bg-white p-6 rounded-lg shadow-lg flex flex-col items-center">
            <!-- Spinner Animation -->
            <div class="w-12 h-12 border-4 border-blue-500 border-t-transparent rounded-full animate-spin"></div>
            <p class="mt-3 text-gray-700">Processing, please wait...</p>
        </div>
    </div>

    <!-- Success Modal -->
    <div id="success-modal" class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50 hidden">
        <div id="successBoxBody" class="bg-white dark:bg-gray-800 rounded-lg shadow-lg p-6 max-w-sm text-center">
            <!-- Animated Checkmark -->
            <div class="flex items-center justify-center">
                <div class="w-16 h-16 bg-green-500 text-white rounded-full flex items-center justify-center animate-scale">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-10 animate-draw" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M5 13l4 4L19 7"></path>
                    </svg>
                </div>
            </div>

            <!-- Success Message -->
            <h2 class="text-lg font-semibold text-gray-900 dark:text-gray-100 mt-4">Success!</h2>
            <p id="SuccessMsg" class="text-sm text-gray-600 dark:text-gray-300 mt-2">Your action was completed successfully.</p>

            <!-- Close Button -->
            <button id="CloseSucsessModal" class="mt-4 px-4 py-2 bg-green-600 text-white rounded-md hover:bg-green-700 transition">
                OK
            </button>
        </div>
    </div>
    <a id="testbt">
    {% csrf_token %}
        <button class="bg-blue-500 border-2 border-cyan-400 shadow-md">Notify now</button>
    </a>
    </div>
    <footer class="flex justify-between md:grid md:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 grid-flow-row bg-gradient-to-r from-sky-500 to-[#2a557f] p-4 font-semibold text-gray-800">
        <p><a href="{% url 'logout' %}" class="hover:uppercase hover:text-[#00ff7f]">Logout</a></p>
        <p><a href="{% url 'onboard' %}" class="hover:uppercase hover:text-[#00ff7f]">Signup</a></p>
        <p class="hover:text-cyan-300"><button class="hover:uppercase" onclick="document.getElementById('settings-modal').classList.remove('hidden');">Preferences</button><p>
    </footer>
</body>
</html>
