@tailwind base;
@tailwind components;
@tailwind utilities;
.scrollbar-hide {
    /* Hide scrollbar for Chrome, Safari, and Edge */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    overflow: -moz-scrollbars-none; /* Older Firefox */
    overflow-y: scroll; /* Add this to ensure the content is scrollable */
    &::-webkit-scrollbar {
        display: none;  /* Hide scrollbar for Chrome, Safari, and Edge */
    }
}
/*Use hyphens when breaking a word*/
.break-with-hyphens {
    word-break: break-all;
    word-wrap: break-word;
    hyphens: auto;
}

.pulse {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.pulse:hover {
    transform: scale(1.1);
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

.pulse-hover {
    display: inline-block;
}

.pulse-hover:hover {
    animation: pulse 1s infinite;
}

@keyframes modalEnter {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes modalExit {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(0);
        opacity: 0;
    }
}

.animate-enter {
    animation: modalEnter 0.4s ease-out forwards;
}

.animate-exit {
    animation: modalExit 0.3s ease-in forwards;
}


/* Tick Animation */
@keyframes draw {
    0% {
        stroke-dasharray: 0, 30;
    }
    100% {
        stroke-dasharray: 30, 30;
    }
}
.animate-draw {
    stroke-dasharray: 30, 30;
    stroke-dashoffset: 0;
    animation: draw 0.5s ease-in-out forwards;
}

/* Scale Animation */
@keyframes scale {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
.animate-scale {
    animation: scale 0.8s ease-in-out;
}
