<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/register.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Select2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</head>
<body class="bg-gradient-to-r from-blue-500 to-sky-500 min-h-screen flex items-center justify-center text-gray-700">
    <div class="bg-white p-6 rounded-lg shadow-lg w-full max-w-md mt-6 mb-6">
        <h2 class="text-2xl font-bold text-center mb-6 text-gray-800">Sign Up</h2>
        <form method="POST" action="{% url 'onboard' %}"  id="signup-form">
            {% csrf_token %}
            <div class="mb-4">
                <label for="username" class="block text-sm font-medium text-gray-700">Username</label>
                <input type="text" id="username" name="username" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" placeholder="Enter your username">
                {% for error in form.username.errors %}
                <p class="text-sm text-red-500 mt-1">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="mb-4">
                <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
                <input type="email" id="email" name="email" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" placeholder="Enter your email">
                {% for error in form.email.errors %}
                <p class="text-sm text-red-500 mt-1">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="mb-4">
                <label for="password1" class="block text-sm font-medium text-gray-700">Password</label>
                <input type="password" id="password1" name="password1" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" placeholder="Enter your password">
                {% for error in form.password1.errors %}
                <p class="text-sm text-red-500 mt-1">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="mb-6">
                <label for="password2" class="block text-sm font-medium text-gray-700">Confirm Password</label>
                <input type="password" id="password2" name="password2" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" placeholder="Confirm your password">
                {% for error in form.password2.errors %}
                <p class="text-sm text-red-500 mt-1">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="form-group">
                <div class="dropdown-container relative w-72">
                    <select id="country-code" name="country-code" class="hidden flex mt-5 p-2 w-20 max-w-20 border rounded border-gray-300 dark:border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-none z-30" aria-hidden="true" style="min-height: 38px;">
                    </select>
                    <div id="selected-code" name="selected-code" class="absolute flex min-h-[68%]  border border-gray-300 border-r-none mt-5 ml-1/2 p-2 w-20 max-w-20 rounded rounded focus:outline-none focus:ring-2 focus:ring-none z-30 rounded bg-blue-50 cursor-pointer">
                        <span id="selected-text"></span>
                        <img id="selected-flag" src="" alt="Flag" class="w-5 h-5 mr-3 hidden" />
                    </div>
                    <section id="ParentCustom" class="absolute mt-8 rounded-md overflow-y-auto bg-white border-2 border-gray-300 shadow-lg h-64 z-50 hidden">
                        <!-- Custom dropdown options will be dynamically added here -->
                    </section>
                    <label for="phone" class="block text-sm text-gray-700 dark:text-gray-300 font-medium">Phone Number</label>
                    <input type="tel" id="phone" name="phone" value="{{ form.phone.value|default:'' }}" class="relative w-full pl-20 px-4 py-2 border border-gray-300 dark:border-gray-700 rounded focus:outline-none focus:ring-2 focus:ring-indigo-500" required>
                    {% for error in form.errors.phone %}
                    <p class="text-sm text-red-500">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>

            <div class="form-group">
                <label for="location_name" class="block text-sm text-gray-700 dark:text-gray-300 font-medium">Location</label>
                <input type="text" id="location_name" name="location_name" value="{{ form.location_name.value|default:'' }}" class="w-full px-4 py-2 border border-gray-300 dark:border-gray-700 rounded bg-gray-100 dark:bg-gray-800 focus:outline-none" value="Fetching location..." required>
                {% for error in form.errors.location_name %}
                <p class="text-sm text-red-500">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="hidden form-group">
                <label for="location_coordinates" class="block text-sm text-gray-700 dark:text-gray-300 font-medium">Coordinates</label>
                <input type="text" id="location_coordinates" name="location_coordinates" value="{{ form.location_coordinates.value|default:'' }}" class="w-full px-4 py-2 border border-gray-300 dark:border-gray-700 rounded bg-gray-100 dark:bg-gray-800 focus:outline-none">
                {% for error in form.errors.location_coordinates %}
                <p class="text-sm text-red-500">{{ error }}</p>
                {% endfor %}
            </div>
            <button id="submit-register" type="submit" class="w-full mt-4 bg-gradient-to-r from-blue-500 to-sky-500 text-white font-bold py-2 px-4 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 hover:from-blue-600 hover:to-sky-600">Sign Up</button>
        </form>
        <a href="{% url 'login' %}" class="block text-center mt-6 text-blue-500 hover:underline" target="_self" title="Already have an account?">Already have an account?</a>
    </div>

    <!--Error modal -->
    <div id="errorModal" class="hidden fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center z-50">
        <div class="bg-blue-100 relative px-4 pt-5 pb-4 sm:p-6 sm:pb-4 rounded-lg shadow-xl w-full max-w-md lg:max-w-lg">
            <button id="closeModal" class="absolute top-2 right-2 text-cyan-800 dark:text-gray-500 hover:text-[#0b03ff] dark:hover:text-gray-400 hover:rotate-90 transition duration-300" onclick="document.getElementById('errorModal').classList.add('hidden');">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </button>
            <div class="sm:flex sm:items-start">
                <div class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
                    <svg class="h-6 w-6 text-red-600" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.714-1.333-3.484 0L4.848 16c-.77 1.333.192 3 1.732 3z" />
                    </svg>
                </div>
                <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left w-full">
                    <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">
                        Error
                    </h3>
                    <div class="mt-2">
                        <p class="text-sm text-gray-500" id="modal-error-message">
                            An error occurred. Please try again.
                        </p>
                    </div>
                </div>
            </div>
            <div class="mt-5 sm:mt-4 mb-4 sm:flex-row-reverse">
                <button id="retryButton" type="button" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-red-600 text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-sm">
                    Retry
                </button>
            </div>
        </div>
    </div>

    <!-- Processing Modal -->
    <div id="processingModal" class="hidden fixed inset-0 bg-gray-800 bg-opacity-75 flex items-center justify-center z-50">
        <div class="relative bg-white p-8 rounded-lg shadow-lg w-full max-w-md space-y-6">
            <button id="closeModal" class="hidden absolute top-2 right-2 text-cyan-800 dark:text-gray-500 hover:text-[#0b03ff] dark:hover:text-gray-400 hover:rotate-90 transition duration-300" onclick="document.getElementById('processingModal').classList.add('hidden');">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </button>
            <div class="flex items-center justify-center">
                <div class="animate-spin rounded-full h-12 w-12 border-t-4 border-b-4 border-blue-500"></div>
            </div>
            <p class="text-center text-gray-600">
                Processing your request, please wait...
            </p>
        </div>
    </div>
</body>
</html>
